click==6.6
coverage==4.0.3
Flask==0.10.1
Flask-HTTPAuth==3.1.2
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
marshmallow==2.9.1
py==1.4.31
pytest==2.9.2
python-coveralls==2.7.0
PyYAML==3.11
requests==2.10.0
sh==1.11
six==1.10.0
SQLAlchemy==1.0.13
toml==0.9.1
Werkzeug==0.11.10
